---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.jsx";
import Footer from "../components/Footer.astro";
import Hero from "../components/hero.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-rubik">
    <main>
      <Navbar client:load />
      <Hero />
      <Footer />
    </main>
  </body>
</html>
