---
import CardProyect from "../components/CardProyect.astro";
import { projects } from "../helpers/data";
import MaxWidh from "../components/MaxWidh.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-rubik bg-zinc-900">
    <main class="flex-col m-auto">
      <MaxWidh>
        <div class="flex w-full text-center justify-center mb-20">
          <h2
            class="text-6xl font-extrabold text-transparent bg-clip-text bg-gradient-to-t from-violet-500 to-teal-500"
          >
            Proyectos
          </h2>
        </div>

        <section class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2">
          {projects.map((project) => <CardProyect {...project} />)}
        </section>
        <Footer />
      </MaxWidh>
    </main>
  </body>
</html>
