.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  width: 100%;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar ul li {
  margin-right: 20px;
}
.navbar ul li a {
  color: var(--secondary);
  text-decoration: none;
  font-size: 1.2rem;
}
.navbar ul li a:hover {
  color: var(--primary);
}
.Scrolled {
  padding: 1rem 4rem;
  background: var(--dark);
}
.Scrolled ul li a {
  color: var(--light);
}

@media (max-width: 768px) {
  .navbar {
    padding: 2rem 2rem;
  }
  .Scrolled {
    padding: 1rem 2rem;
  }
}
