.desriptionAbout {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.desriptionAbout h2 {
  position: absolute;
  top: -60px;
  left: 12%;
  border-bottom: 6px solid var(--primary);
  border-right: 6px solid var(--primary);
  padding: 1rem 6rem;
}

.desriptionAbout p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  width: 60vh;
  padding: 2rem 0;
}
@media (max-width: 768px) {
  .desriptionAbout h2 {
    left: 8%;
  }
  .desriptionAbout p {
    width: 40vh;
    text-align: center;
  }
  .desriptionAbout h2 {
    position: relative;
    top: 0;
    left: 0;
    border-right: none;
  }
}
