<section class="py-16" id="About">
  <div class="flex justify-center items-center">
    <h2
      class="text-4xl md:text-6xl font-extrabold text-transparent bg-clip-text bg-gradient-to-t from-teal-500 to-teal-200"
    >
      Un poco de mí
    </h2>
  </div>
  <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
    <div
      class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12"
    >
      <article class="md:7/12 lg:w-6/12">
        <h3 class="text-2xl text-slate-200 py-2">Diseño</h3>
        <p class="text-slate-400">
          Diseñar, crear web que enamoren y transmiten los valores del proyecto
          es lo que hace la diferencia.
        </p>
        <h3 class="text-2xl text-slate-300 py-2">Desarrollo</h3>
        <p class="text-slate-400">
          Como desarrollador web me enfoco en aplicaciones interactivas e
          intuitivas para el usuario. Utilizando las últimas tecnologías para
          crear sitios web que se adapten a cualquier dispositivo.
        </p>
        <h3 class="text-2xl text-slate-300 py-2">Posicionamiento SEO/SEM</h3>
        <p class="text-slate-400">
          El posicionamiento web es una de las partes más importantes de un
          proyecto. Crear sitios web que sean amigables con los buscadores y que
          puedan ser encontrados por los usuarios.
        </p>
      </article>
      <div class="md:5/12 lg:w-5/12 hidden md:flex">
        <img src="/face-adelk.webp" alt="Molinari Adelkis" loading="lazy" />
      </div>
    </div>
  </div>
</section>
