---
const { title, description, image, tag } = Astro.props;
console.log(tag);
---

<li
  class="cursor-pointer w-full py-4 border-b-2 border-gray-600 hover:bg-gradient-to-r from-teal-900 transition-colors card"
>
  <a href="#" class="w-full block px-4">
    <article>
      <header>
        <img src={image} alt="" class="w-full h-64 object-cover" />
      </header>
      <h2 class="text-white text-xl font-medium">{title}</h2>
      <p class="text-gray-400 font-light text-md">{description}</p>
    </article>
  </a>
</li>

<style>
  .card {
    --border-width: 2px;
    appearance: none;
    position: relative;
    border: 0;
    z-index: 2;
    list-style: none;
    margin-bottom: 24px;
  }

  .card::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(
      #488cfb,
      #29dbbc,
      #ddf505,
      #ff9f0e,
      #e440bb,
      #655adc,
      #488cfb
    );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
  }

  .card:hover::after {
    animation-play-state: running;
  }

  @keyframes rotate-hue {
    to {
      filter: hue-rotate(1turn);
    }
  }

  .card,
  .card::after {
    box-sizing: border-box;
  }

  .card:active {
    --border-width: 5px;
  }
</style>
