<section class="flex flex-col md:flex-row py-10 justify-around items-center">
  <p class="text-lg text-slate-300">
    Te dejo mi cv, gracias por tu atencion.
  </p>
  <a
    class="px-10 py-5 mt-3 bg-gradient-to-r hover:from-green-500 hover:to-blue-500 from-green-600 to-blue-800 rounded text-lg text-white transition-colors duration-500"
    href="/molinari-adequis-cv.pdf"
    download>descargar CV</a
  >
</section>
