---
import { GithubIcon, LinkedInIcon, TwitterIcon } from "../icons/icons.jsx";
const today = new Date();
---

<footer class="w-full py-8">
  <div class="max-w-screen-xl mx-auto px-4">
    <div class="w-max mx-auto text-xl text-gray-400">
      <h2>Encuentrame por aquí 👇</h2>
    </div>
    <div class="pt-8 flex max-w-xs mx-auto items-center justify-between">
      <a
        href="https://twitter.com/adelkisDev"
        class="text-gray-400 hover:text-gray-800 dark:hover:text-white transition-colors duration-200"
        target="_blank"
      >
        <TwitterIcon />
      </a>
      <a
        href="https://github.com/adelquis-molinari"
        class="text-gray-400 hover:text-gray-800 dark:hover:text-white transition-colors duration-200"
        target="_blank"
      >
        <GithubIcon />
      </a>
      <a
        href="https://www.linkedin.com/in/molinari-adelquis/"
        class="text-gray-400 hover:text-gray-800 dark:hover:text-white transition-colors duration-200"
        target="_blank"
      >
        <LinkedInIcon />
      </a>
    </div>
    <div
      class="text-center text-gray-400 pt-10 sm:pt-12 font-light flex items-center justify-center"
    >
      <p>
        {today.getFullYear()} || Created by Adelkis<span class="text-teal-400"
          >Dev</span
        > with <a
          href="https://astro.build/"
          target="_blank"
          class="text-red-500">Astro</a
        >
      </p>
    </div>
  </div>
</footer>
