---
import CardInfluencer from "./CardInfluencer.astro";
import { influencers } from "../helpers/data";
---

<section id="influences" class="py-40">
  <h2
    class="text-4xl md:text-6xl font-extrabold text-transparent bg-clip-text bg-gradient-to-t to-teal-500 from-sky-600 text-center pb-6"
  >
    Mis Influéncias
  </h2>
  <p class="text-center mb-12 text-xl font-normal text-gray-400">
    Estas son las personas que me han influenciado en mi carrera como
    desarrollador, a la cual invito a seguir..✨
  </p>
  <div class="flex items-center flex-col md:flex-row justify-evenly">
    {influencers.map((influenciador) => <CardInfluencer {...influenciador} />)}
  </div>
</section>
